*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://4.bp.blogspot.com/-B4eAmt4k3GA/WBTFXkQPVVI/AAAAAAAANWs/uE634GYJLV0bK8RjvBtND1tvj4DTJ4swgCLcB/s400/weather%2Bphenomena%2Bgif.gif');
    background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

header {
    background-image: radial-gradient(#1E1D22, #39454C, #2A4A45,#674B4F, #6EB670, #32732B);
    opacity: 0.75;
    width: 40%;
    height:15%;
    margin: 0 auto 0 auto;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 15pt;
}   

.con2{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    border: 20pt;
    border-color: whitesmoke;
    padding: 10px;
}

.card{
    background-image: url('https://img.freepik.com/free-vector/vector-carbon-kevlar-texture_31825-335.jpg?size=626&ext=jpg');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    text-align: center;
    border: solid gray 2px;
    height: 60%;
    width: 20%;
    margin: 2%;
    opacity: 0.7;
    align-content: auto;
}

p{
    color: lightskyblue;
}

.icon{
    height: 50%;
    width:  80%;
    margin:5px auto 5px auto; 
}

button{
    border: none;
    box-shadow: none;
    background: none;
    margin-right: 5px;
}

.fa-search{
    color: aquamarine;
    height: 100%;
    width: 80%;
    margin: auto;

}

.search{
    width: 50%; 
    height: 30% ;
    margin: auto;
    opacity: 0.9;
}

#search{
    height: 100%;
    width: 80%;
    margin: auto;
}

.temp{
    color: navajowhite;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 15pt;
}

.humidity{
    color: navajowhite;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 15pt;
    display: flex;
}