*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://4.bp.blogspot.com/-B4eAmt4k3GA/WBTFXkQPVVI/AAAAAAAANWs/uE634GYJLV0bK8RjvBtND1tvj4DTJ4swgCLcB/s400/weather%2Bphenomena%2Bgif.gif');
    background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
.con2{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    border: 20pt;
    border-color: whitesmoke;
    padding: 0 10px;
}

header {
    background-image: linear-gradient(red,orange,yellow,lightyellow);
    opacity: 0.5;
    position: fixed; 
    top: 0%;
    left: 40%;
}

.card{
    background-image: url('https://img.freepik.com/free-vector/vector-carbon-kevlar-texture_31825-335.jpg?size=626&ext=jpg');
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    border: solid gray 2px;
    top: 25%;
    height: 40%;
    width: 20%;
    margin: 2%;
}

p{
    color: whitesmoke;
}